body{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.container{
    width: 644px;
    margin: 0 auto;
    min-height: 640px;
    background-image: url('afb/ang.png');
    padding-top: 100px;
}
.element{
    background-color: rgba(255, 0, 0, 0.8);
    width: 200px;
}
#Air{
    margin-left: 10px;
}
h3, p{
    margin: 0;
    padding: 0;
}
.naam{
    border-left: solid 7px rgb(0, 0, 0);
    padding-left: 7px;
}
