body{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.container{
    width: 644px;
    margin: 0 auto;
    min-height: 640px;
    background-image: url('afb/ang.png');
    background-repeat: no-repeat;
}
.element{
    background-color: rgba(255, 0, 0, 0.8);
    width: 150px;
    cursor: pointer;
}
.element .naam{
    /*opacity: 0;*/
}
.element:hover .naam{
    opacity: 1;
}
#Air{
    margin-left: 0px;
    padding-top: 265px;
    padding-left: 165px;
}

#Air .naam{
    margin-left: 25px;
}
#Earth{
    margin-left: 323px;
}
h3, p{
    margin: 0;
    padding: 0;
}
.naam{
    border-left: solid 7px rgb(0, 0, 0);
    padding-left: 7px;
}
